body {
    font-family: Tahoma,Arial;
    font-size: 12px;
    color: #555;
    background-color: #FFF;
}

#header {
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    border-bottom: 1px solid #555;
}

#footer {
    font-size: 9px;
    border-top: 1px solid #555;
    text-align: center;
    padding-top: 4px;
}

.rpanel {
    border-left: 1px #555 solid;
    padding: 5px;
    margin: 10px;
}

.cpanel {
    border: 1px #555 solid;
    padding: 5px;
}

a {
    color: #555;
    text-decoration: none;
}

a:hover {
    color: #ccc;
    text-decoration: underline;
}

.head {
    background-color: #555;
    color: #FFF;
    padding: 5px;
    text-align: center;
}

.bodypanel {
    border-bottom: 1px #555 solid;
    border-right: 1px #555 solid;
    border-left: 1px #555 solid;
    padding: 7px;
    margin-bottom: 8px;
}

.tbl{
    background-color: #555;
    padding: 5px;
    text-align: center;
    color: #fff;
    font-weight: bold;
}

.tbl2{
    background-color: #F1F1F1;
    padding: 3px;
}

.tbl3{
    background-color: #FFF;
    padding: 3px;
}

.buttons {
    background-color: #555;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 6px;
    padding-right: 6px;
    border: #fff 1px dotted;
    color: #fff;
}

.buttons:hover {
    background-color: #CCC;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 6px;
    padding-right: 6px;
    border: #fff 1px dotted;
    color: #fff;
}

input, textarea, select {
    background-color: #FFF;
    border: 1px dotted #555;
}

input:HOVER, textarea:hover, select:hover {
    background-color: #FFFFCC;
    border: 1px solid #000;
}

input:focus, textarea:focus, select:focus {
    background-color: #FFFFCC;
    border: 1px solid #000;
}

.imp {
    border: 1px #ccc solid;
    background-color: #f1f1f1;
    padding: 4px;
    font-weight: bold;
    text-align: center;
}

.tb {
	background-color:#005599;
	color:#FFF;
	font-weight:bold;
	text-align:center;
	padding:5px;
	}

.tb1 {
	background-color: #999;
	color: #FFF;
	font-weight: bold;
	}

.tb2 { 
	background-color: #FFF;
	}

.tb3 { 
	background-color: #F1F1F1;
	}
